<!-- <app-a></app-a> -->
<app-html>
  <app-head>
    <app-title>Test</app-title>
  </app-head>
 <app-body>
   <!-- <app-h1>Heading - 1</app-h1>
   <app-paragraph>
     <span header-content #span>TypeScript</span>
     <p main-content>TypeScript is a programming language developed and maintained by Microsoft. It is a strict syntactical superset of JavaScript and adds optional static typing to the language. TypeScript is designed for the development of large applications and transcompiles</p>
     <footer footer-content>CopyRights Microsoft- 2022 </footer>
   </app-paragraph>
   <app-timer></app-timer>
   <app-parent></app-parent>
  -->
  <app-master></app-master>

 </app-body>
</app-html>
